DATABASE_URL=postgres://username:password@localhost:5432/ftmxlm
FANTOM_PROVIDER=https://rpc.testnet.fantom.network
FTMPUBLIC=0xefd08f19dcd2ee843918c842e8d830abf8d68752
LP_CONTRACT=
LP_PRIVATE_KEY=lp-ftm-private-key-here
PORT=3000
PRIVATE_KEY=ftm-wallet-private-key-here-optional
STELLAR_PROVIDER=https://horizon-testnet.stellar.org/
XLMCODE=WFTM
XLMISSUER=GAEDZ7BHMDYEMU6IJT3CTTGDUSLZWS5CQWZHGP4XUOIDG5ISH3AFAEK2
XLMPUBLIC=GBIYTJUA6W25EFRVQJE3LNQ6VONUQ4E4TMCK7W5OBDFUQVJUHCZMOBTV
